In [1]:
import pandas as pd

In [51]:
df_1 = pd.DataFrame({"points":[5, 3, 0, 1, 4, 2, 5, 4, 1, 5]})

Статистическое распределение выборки

In [24]:
df = pd.DataFrame({"points":[0, 1, 2, 3, 4, 5], "n_i":[1, 2, 1, 1, 2, 3] })
df

   points  n_i
0       0    1
1       1    2
2       2    1
3       3    1
4       4    2
5       5    3

Количество вариантов

In [25]:
n = df.n_i.sum()
n

10

Выборочное среднее

In [26]:
x = (df.points * df.n_i).sum() / n
x

3.0

Выборочная дисперсия

In [29]:
D = ((df.points - x)**2 * df.n_i).sum() / n
D

3.2

Выборочное среднее квадратическое отклонение

In [30]:
import math
sigma = math.sqrt(D)
sigma

1.7888543819998317

Исправленная выборочная дисперсия

In [31]:
S_2 = n / (n - 1) * D
S_2

3.555555555555556

Исправленное выборочное среднее квадратическое отклонение

In [32]:
S = math.sqrt(S_2)
S

1.8856180831641267

Размах

In [34]:
R = df.points.max() - df.points.min()
R

5

Мода

In [59]:
M_o = df_1.points.mode()
M_o

0    5
dtype: int64

Медиана

In [58]:
M_e = df_1.points.median()
M_e

3.5