# Пример 2

Измерили рост (с точностью до см) 30 наудачу отобранных студентов. Построить интервальный статистический ряд

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"height": [178, 160, 154, 183, 155, 153, 167, 186, 163, 155, 157, 175, 170, 166, 159, 173, 182, 167, 171, 169, 179, 165, 156, 179, 158, 171, 175, 173, 164, 172]})

In [3]:
df.head()

   height
0     178
1     160
2     154
3     183
4     155

In [5]:
df.sort_values("height")

    height
5      153
2      154
9      155
4      155
22     156
10     157
24     158
14     159
1      160
8      163
28     164
21     165
13     166
17     167
6      167
19     169
12     170
25     171
18     171
29     172
15     173
27     173
11     175
26     175
0      178
20     179
23     179
16     182
3      183
7      186

In [7]:
x_min = df.height.min()
x_min

153

In [8]:
x_max = df.height.max()
x_max

186

In [9]:
n = df.height.size
n

30

In [10]:
import math

In [11]:
h = (x_max - x_min) / (1 + math.log(n, 2))
h

5.586695650759787

Примем *h* = 6 тогда x_нач = x_start

In [13]:
h = round(h)
x_start = x_min - h/2
x_start

150.0

In [29]:
import numpy as np

In [39]:
x_start = int(x_start)
h = int(h)

Исходные данные разбились бы на 6 интервалов

In [42]:
intervals = [[x, x+6] for x in range(x_start, x_max, h)]
intervals

[[150, 156], [156, 162], [162, 168], [168, 174], [174, 180], [180, 186]]

In [44]:
isr = pd.DataFrame({"height" : intervals})
isr

       height
0  [150, 156]
1  [156, 162]
2  [162, 168]
3  [168, 174]
4  [174, 180]
5  [180, 186]

In [52]:
isr.index.max()

5

In [53]:
def frequency(interval, height):
    n = 0
    for i in height:
        if interval == isr.height[isr.index.max()]: # для учета последнего элемента 
            if i >= interval[0] and i <= interval[1]:
                n = n + 1
        else:
            if i >= interval[0] and i < interval[1]:
                n = n + 1
    return n

isr["frequency"] = [frequency(interval, df.height) for interval in isr.height]

In [54]:
isr

       height  frequency  relative_frequency
0  [150, 156]          4            0.133333
1  [156, 162]          5            0.166667
2  [162, 168]          6            0.200000
3  [168, 174]          7            0.233333
4  [174, 180]          5            0.166667
5  [180, 186]          3            0.066667

In [55]:
isr["relative_frequency"] = [n_i/n for n_i in isr.frequency]

In [56]:
isr

       height  frequency  relative_frequency
0  [150, 156]          4            0.133333
1  [156, 162]          5            0.166667
2  [162, 168]          6            0.200000
3  [168, 174]          7            0.233333
4  [174, 180]          5            0.166667
5  [180, 186]          3            0.100000

In [57]:
isr.relative_frequency.sum()

1.0