# Пример 1: 

В результате тестирования группа абитуриентов набрала баллы {5, 3, 0, 1, 4, 2, 5, 4, 1, 5}. Запишите полученную выборку в виде:
1. вариационного ряда;
2. статистического ряда.

# Вариационный ряда

In [78]:
import pandas as pd

In [79]:
df = pd.DataFrame({"points":[5, 3, 0, 1, 4, 2, 5, 4, 1, 5]})

In [80]:
df

   points
0       5
1       3
2       0
3       1
4       4
5       2
6       5
7       4
8       1
9       5

In [81]:
df.sort_values(by='points')

   points
2       0
3       1
8       1
5       2
1       3
4       4
7       4
0       5
6       5
9       5

# Статистический ряд

In [112]:
df_sr = df.copy()

In [113]:
df_sr.loc[df.points[0] == df.points].size

3

In [114]:
df_sr["n_i"] = [df_sr.loc[df.points == df_sr.points[x]].size for x in range(len(df_sr))]

In [115]:
df_sr

   points  n_i
0       5    3
1       3    1
2       0    1
3       1    2
4       4    2
5       2    1
6       5    3
7       4    2
8       1    2
9       5    3

In [116]:
sr = pd.DataFrame({'points':df_sr.points.unique()})

In [117]:
sr["frequency"] = [df_sr.n_i[x] / df.points.size for x in sr.index]

In [118]:
sr

   points  frequency
0       5        0.3
1       3        0.1
2       0        0.1
3       1        0.2
4       4        0.2
5       2        0.1

Сумма частостей должна быть = 1

In [119]:
sr.frequency.sum()

0.9999999999999999

In [120]:
sr.sort_values("points")

   points  frequency
2       0        0.1
3       1        0.2
5       2        0.1
1       3        0.1
4       4        0.2
0       5        0.3