# Example 1

При условии равномерного распределения случайной величины Х произведена выборка
```
x_i:| 3 | 5 | 7 | 9 | 11| 13| 15| 17| 19| 21|

n_i:| 21| 16| 15| 26| 22| 14| 21| 22| 18| 25|
```
Найти оценку параметров a и b по методу моментов.

In [1]:
import pandas as pd

In [11]:
sample = pd.DataFrame({"x_i":[3, 5, 7, 9, 11, 13, 15, 17, 19, 21], "n_i": [21, 16, 15, 26, 22, 14, 21, 22, 18, 25]})
sample

   x_i  n_i
0    3   21
1    5   16
2    7   15
3    9   26
4   11   22
5   13   14
6   15   21
7   17   22
8   19   18
9   21   25

Найдем оценки параметров методом моментов. Приравняем математическое ожидание
MX = (a+b)/2 и дисперсию DX=(b-a)^2 / 12 - соответствующим моментами

In [13]:
sample["x_in_i"] = sample.x_i * sample.n_i

In [14]:
sample["x_i^2n_i"] = sample.x_i**2 * sample.n_i

In [15]:
sample

   x_i  n_i  x_in_i  x_i^2n_i
0    3   21      63       189
1    5   16      80       400
2    7   15     105       735
3    9   26     234      2106
4   11   22     242      2662
5   13   14     182      2366
6   15   21     315      4725
7   17   22     374      6358
8   19   18     342      6498
9   21   25     525     11025

MX = 1/n * sum(x_in_i)

DX = 1/n * sum(x_i^2n_i) - MX^2

In [22]:
n = sample.n_i.sum()

In [23]:
MX = 1 / n * sample.x_in_i.sum()
MX

12.31

In [24]:
DX = 1 / n * sample["x_i^2n_i"].sum() - MX**2
DX

33.78389999999999

(a+b)/2 = MX

(b-a)^2 / 12 = DX

In [34]:
df = pd.DataFrame()

In [35]:
df["a+b"] = [MX * 2]

In [36]:
import math
df["b-a"] = [math.sqrt(DX * 12)]

In [37]:
# система
df

     a+b        b-a
0  24.62  20.134716

In [44]:
# a = df["a+b"] - b
# b - df["a+b"] + b = df["b-a"]
# 2b = df["b-a"] + df["a+b"]
# b = (df["b-a"] + df["a+b"]) / 2

b = (df["b-a"] + df["a+b"]) / 2
a = df["a+b"] - b

print("a = ", a[0])
print("b = ", b[0])

a =  2.2426418559783023
b =  22.3773581440217